<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <springProperty scope="context" name="serverPort" source="server.port"/>

    <property name="LOG_ROOT_DIR" value="${app.home:-.}/logs"/>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level)[${springAppName}] [%16.16thread] %cyan(%32.32logger{32}): %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT_DIR}/${HOSTNAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT_DIR}/${HOSTNAME}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-90}</maxHistory>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-512mb}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP:-5GB}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [${springAppName}][%thread] %32.32logger{32}: %msg%n</Pattern>
        </encoder>
    </appender>
    <!-- Logbook on Exploration Request / Response -->
    <appender name="logbook" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_ROOT_DIR}/${HOSTNAME}-logbook.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ROOT_DIR}/${HOSTNAME}-logbook.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>${LOG_FILE_MAX_HISTORY:-90}</maxHistory>
            <maxFileSize>${LOG_FILE_MAX_SIZE:-512mb}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE_CAP:-5GB}</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <logger name="org.zalando.logbook.Logbook" level="TRACE" additivity="false">
        <appender-ref ref="logbook"/>
    </logger>

    <root level="info">
        <appender-ref ref="FILE_APPENDER"/>
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

</configuration>
